#  {{ schema.name }}

{{ schema.description }}

URI: <a href={{ schema.id }}>{{ schema.id }}</a>

## Checklists

| Checklist | Description |
{% for c in schemaview.all_classes().values() -%}
{%- if c.is_a == "Checklist" -%}
| --- | --- |
| {{ gen.link(c) }} | {{ c.description }} |
{%- endif -%}
{% endfor %}

## Extensions

| Extension | Description |
{% for c in schemaview.all_classes().values() -%}
{%- if c.is_a == "Extension" -%}
| --- | --- |
| {{ gen.link(c) }} | {{ c.description }} |
{%- endif -%}
{% endfor %}

## Combinations

| Combination | Description |
{% for c in schemaview.all_classes().values() -%}
{% if c.mixins and c.is_a -%}
| --- | --- |
| {{ gen.link(c) }} | {{ c.description }} |
{%- endif -%}
{% endfor %}

## Subsets

| Subset | Description |
| --- | --- |
{% for ss in schemaview.all_subsets().values()|sort(attribute='name') -%}
| {{gen.link(ss)}} | {{ss.description|enshorten}} |
{% endfor %}

## Enumerations

| Enumeration | Description |
| --- | --- |
{% for e in gen.all_enum_objects()|sort(attribute=sort_by) -%}
| {{gen.link(e)}} | {{e.description|enshorten}} |
{% endfor %}


