# yamllint configuration file for mixs repo
# it extends the default conf by adjusting some options
extends: default

rules:
  line-length:
    # this rule can be used to set a limit to lines length.
    # we set it to 518 to match the max length of the lines in
    # src/mixs/schema/mixs.yaml
    # default is 80
    max: 518

  indentation:
    # this rule can be used to control the indentation level
    # 'whatever' means either indenting or not indenting 
    # individual block sequences is OK.
    # ideally, we want this to be set to 'true'/'consistent'
    indent-sequences: whatever

  # Trailing whitespace is enforced. It is not only untidy: a trailing space on a
  # continuation line inside a folded block becomes a double space in the rendered
  # description, which then ships in the generated JSON Schema and OWL.
  # `make fix-whitespace` strips it.
