[tool.poetry]
name = "mixs"
version = "6.2.0"
description = "MIxS: the Minimum Information about any (X) Sequence standard"
authors = [
    "Mark Andrew Miller <MAM@lbl.gov>",
    "Sujay Patil <spatil@lbl.gov>"
]
license = "CC0-1.0 license"
readme = "README.md"
include = ["README.md", "src/scripts/mixs/schema", "src/mixs/schema", "project"]

#[tool.poetry-dynamic-versioning]
#enable = true
#vcs = "git"
#style = "pep440"

[tool.poetry.dependencies]
python = "^3.10"
linkml-runtime = "^1.9"
jsonasobj2 = "^1.0" # used transitively in src/scripts/mixs/datamodel/mixs.py

[tool.poetry.group.dev.dependencies]
black = "^25.1"
deptry = "^0.23"
linkml = "^1.9"
matplotlib = "^3.10"
mkdocs-material = "^9.6"
mkdocs-mermaid2-plugin = "^1.2"
pandas = "^2.3"
pyarrow = "^21.0"
rdflib = "^7.1"
schemasheets = "^0.4"
scipy = "^1.15"
yamllint = "^1.37"
click = "^8.1"
pyyaml = "^6.0"

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.poetry.extras]
docs = ["linkml", "mkdocs-material"]

[tool.poetry.scripts]
extension-distances = 'src.scripts.extension_distances:generate_dendrogram'
extension-differences = 'src.scripts.extension_slot_diffrences:set_arithmatic'
linkml2class-tsvs = 'src.scripts.linkml2class_tsvs:process_schema_classes'

