a:hover { text-decoration: underline; }

p { 
    font-size: 1em; 
    color: #202020; 
    margin: 10px 50px 10px 50px;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    text-align: justify;
    line-height:150%;
}

h1, h2, h3, h4 { 
	font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
    }
h1 { 
    font-size: 1.5em; 
    color: DimGray; 
    margin: 20px 50px 10px 50px;

}
h2.a { 
	font-size: 1.2em; 
	color: DimGray;
	font-style: italic;
	margin: 20px 50px 10px 50px;
	border-bottom: 2px solid DimGray;
}
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { 
    font-size: 1em; 
    font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
    list-style: none; 
    font-weight: bold;  
    padding: 40px; 
    background-color: #0f75bc; 
    margin: 0 0 0 0;
    }

nav ul li, footer ul li { 
    display: inline;
    padding-left: 1.5em;
}

nav li a, footer li a {
    color: white;
    text-decoration: none;
}

footer {font-size: 1em; }

div ul {
    font-size: 1em; 
    font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
    list-style-type:circle;
    margin: 10px 50px 10px 50px;
    line-height:150%;
    text-align: justify;
    color: #202020;
    }
div ol {
	font-size: 1em;
	font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
    	list-style-type:numeric;
    	margin: 10px 50px 10px 50px;
    	line-height:150%;
	text-align: justify;
	color: #202020;
    }

